{% extends 'base.html.twig' %}

{% block title %}Hello KamersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="container">
        <section class="section">
            <ul>
                <li><h4>Één persoons kamer</h4><img class="rooms" alt="Deluxe one-bedroom suite" src="../images/Room1.jpg"><p>
                        De één persoons kamer met 1 slaapkamer beslaat 170 m² over twee verdiepingen en biedt eindeloze uitzichten over de Arabische Golf. Deze suite is ontworpen om een ​​buitengewone ervaring te creëren met veelbelovende herinneringen die een leven lang meegaan.</p>
                    <a href="Room1.php">Bekijk kamer gegevens</a></li>
                <br>
                <li><h4>Twee persoons kamer</h4><img class="rooms" alt="Deluxe twin one-bedroom suite" src="../images/Room2.jpg"><p>
                        De twee persoons kamer met één slaapkamer met twee aparte bedden beslaat 170 vierkante meter (1.830 vierkante voet) over twee verdiepingen en biedt eindeloze uitzichten over de Arabische Golf. Deze suite is ontworpen om een ​​buitengewone ervaring te creëren met veelbelovende herinneringen die een leven lang meegaan</p>
                    <a href="Room2.php">Bekijk kamer gegevens</a></li>
                <br>
                <li><h4>Familie kamer</h4><img class="rooms" alt="Panoramic one-bedroom suite" src="../images/Room3.jpg"><p>Met twee niveaus van kamerhoge ramen met 180 graden uitzicht over het steeds veranderende panorama van Dubai en de Arabische Golf, is de Panoramasuite met één slaapkamer perfect voor hedendaagse prinsen en prinsessen. Deze suite met een indrukwekkende 225 vierkante meter is perfect gelegen om te genieten terwijl u de wereld voorbij ziet gaan.</p>
                    <a href="Room3.php">Bekijk kamer gegevens</a></li>
                <br>
                <li><h4>Suite</h4><img class="rooms" alt="Deluxe two-bedroom suite" src="../images/Room4.jpg"><p>
                        Welkom bij de decadente 335 vierkante meter Deluxe Suite met 2 slaapkamers. Deze hemelse suite is perfect voor familie en vrienden en overspant twee onberispelijke niveaus en biedt overal een prachtig uitzicht op de Arabische Golf. Deze ruimte bestaat uit twee lounges, twee prachtige slaapkamers met uitzicht op de zee, een privé-eetkamer, twee grote badkamers, een eigen bar en een butlerkeuken.</p>
                    <a href="Room4.php">Bekijk kamer gegevens</a></li>
                <br>
            </ul>
        </section>
    </div>
</div>
{% endblock %}

